#hero{
  
}

.row{
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 10px;;
}

.card-title{
  margin-left: 5px;
  margin-bottom: 0;
}

.card-block{
  margin-bottom: 10px;
}

.card-text{
  margin-left: 10px;
  margin-right: 5px;
  
}

#card{
  margin-left: 17%;
}

#animoji{
  margin-left: 15%;
  
}

#footer{
  background-color: #f8f9fa;
  padding-bottom: 1%;
}

.card:first-child{
  margin-bottom: 10px;
}

a:hover{
  color: aliceblue;
}