@charset "UTC-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); /*Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap'); /*Cormorant*/


p{ /**/
  font-family: Work Sans;
}
h2, h3, h4{
  font-family: Roboto;
}
h5, h6{
  font-family: Cormorant;
}
.row /**/{
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 10px;;
}

.card-title /**/{
  margin-left: 5px;
  margin-bottom: 0;
}

.card-block /**/{
  margin-bottom: 10px;
}

.card-text/**/{
  margin-left: 10px;
  margin-right: 5px;
  
}

#card /**/{
  margin-left: 17%;
}

#animoji/**/{
  margin-left: 15%;
  
}

#footer/**/{
  background-color: #f8f9fa;
  padding-bottom: 1%;
}

.card/**/{
  margin-bottom: 10px;
}

.card-deck/**/{
  margin-bottom: 10px;
}

a:hover{
  color: blue;
}
a::active{
  color: black;
}

#carouselExampleIndicators{
  margin-bottom: 15px;
}

#deck{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
}
