@charset "UTC-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap'); /* Teko font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Teko&display=swap'); /* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rock+Salt&family=Teko&display=swap'); /* Rock Salt font */

html
{
    height: 100%;
    background-color:#282828;

}
body
{
    min-height: 100%;
    margin: 0%;
   
}

#main
{
    display: grid;
    grid-template-areas: "header header header header header" 
                        "banner banner banner banner aside"
                        "ad ad bio bio aside"
                        "footer footer footer footer footer";
}

#header
{
    
       
    grid-area: header; 
   
    font-family: Teko;
    font-size: 48px;
    line-height: 68.78px;

    color: #BB0908;
    background-color: #070707;   
}
#header h1
{margin-bottom: 15px;}
#logo
{
 

    float: right;
    margin-top: 40px;
    margin-right: 41px;
    
}

#banner
{
    grid-area: banner;

    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;

    height: 388px;

    margin-bottom: 25px;
    
}

#lside
{
    background-color: #393939;

    border-top: 5px solid #BB0908;

    grid-area: ad;

    display: flex;

    width: 700px;

    margin-left: 22px;

    margin-bottom: 24px;

    font-family: Roboto;

    font-size: 18px;
}

#anny
{
    font-family:Rock Salt ;

    color:#FF1D29;

    border-bottom: 4px solid #BB0908;

    width: 353px;


}

#lsideinfo
{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: space-between;

=======
>>>>>>> 9f9c9da7e50df0af68c7d416fe6c0838fa103d5e
    margin-left: 19px;
}

#txt
{
    font-family: Poppins;

    font-size: 18px;

    line-height: 27px;

    color: #FFFFFF;
}

<<<<<<< HEAD
#dvd /* flex box that grabbs dvd/ amazon/ price */
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
=======
#hardpart
{
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
>>>>>>> 9f9c9da7e50df0af68c7d416fe6c0838fa103d5e
}

#dvd
{
<<<<<<< HEAD

    float: left;
=======
    height: 200px;
>>>>>>> 9f9c9da7e50df0af68c7d416fe6c0838fa103d5e
    width: 117px;
}

#link /*flexbox that groups dvd and price */
{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: space-evenly;
    
}   
=======
    
    
    flex-shrink: 1000;
    margin-left: 15px;
}
>>>>>>> 9f9c9da7e50df0af68c7d416fe6c0838fa103d5e

#amazon
{
    font-family:Poppins;

    font-size: 18px;

    text-decoration: underline;

    color: #22C1CB;
}

#price 
{
    position: absolute;

    font-family: Teko;

    font-size: 72px;

    text-decoration: underline;

    color: #FFFFFF;
}


#middle
{
    background-color: #393939;

    border-top: 5px solid #BB0908;
    
    grid-area: bio;

    display: flex;
    flex-direction: column;

    width: 700px;

    margin-left: 20px;

    margin-bottom: 24px;
    

    font-family:Poppins ;

    color: #FFFFFF;

    font-size: 24px;

    line-height: 36px;
}

#pennant
{
    margin-top: 17px;
    width: 641px;
    margin-left: 24px;
}
#bio
{
    margin-left: 24px;
}

#rside
{
    background-color: #393939;

    grid-area: aside;

    display: flex;

    flex-direction: column;

    justify-content: space-evenly;

    width: 360px;

    margin-left: 20px;

    color: #FFFFFF;
    
    
}

#rside img
{
    margin-left: 17px;
    margin-right: 18px;
}

#rside p
{
    margin-left: 44px;
    margin-right: 41px;
}

#rside b
{
    color: #FC0303;
}

#footer
{
    grid-area: footer;

    font-family: Teko;

    font-size: 12px;
    background-color: black;
    color: #FFFFFF;
}

#footer p
{
    margin-top: 21px;
    margin-left: 30px;
    margin-bottom: 22px;
}