@charset "UTC-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap'); /* Teko font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Teko&display=swap'); /* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rock+Salt&family=Teko&display=swap'); /* Rock Salt font */

html
{
    height: 100%;
}
body
{
    min-height: 100%;
    margin: 0%;
    background-color: #282828;

}
#main
{
    display: grid;
    grid-template-areas: "header header header header header"
                        "banner banner banner banner aside"
                        "ad ad  bio bio aside"
                        "footer footer footer footer footer";
}

#header
{
    grid-area: header;
    font-family: teko;
    font-size: 48px;
    line-height: 68.78px;

    background-color: #070707;
    color: #bb0908;
}
#header h1
{
    margin-bottom: 15px;
}

#logo
{
    float: right;
    margin-top: 40px;
    margin-right: 41px;
    
}

#hero
{
    grid-area: banner;

    padding: 0%;
    
    height: 388px;

    margin-bottom: 25px;

    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#rSide
{
    grid-area: aside;

    background-color: #393939;
    color:#FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Roboto;
    font-size: 18px;
    line-height: 21.09px;

    margin-left: 20px;
    

}

#rSide img
{
    width: 325px;
}

#rSide b
{
    color:#FC0303;
}

#rSide p
{
    margin-left: 44px;

    margin-right: 41px;
}

#underwater
{
    margin-bottom: 28.48px;
    margin-left: 18px;
    margin-right: 17px;
}

#lside
{
    
    grid-area: ad;

    width: 700px;

    margin-left: 22px;
    
    background-color:#393939;

    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-top: 4px solid #BB0908;

}

#poster
{
    width: 310px;
    padding: 0%;
}

#lside h2
{
    font-family: Rock Salt;
    font-size: 30px;
    line-height: 71.57px;

    color:#BB0908;
    border-bottom: 4px solid #BB0908;
}

#flex
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 19px;
    margin-right: 19px;
}

#ltxt
{
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 15px;
}

#dvd
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: fit-content;


}

#dvd img
{
    height: 191px;
    width: 117px;
    
}

#link
{
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}



#amazon
{
    color:#22c1cb;
    font-family: Poppins;
    border-bottom: 2px solid #22c1cb;
    font-size: 18px;

}

#price
{
    
    font-family: Teko;
    font-size: 72px;

    color: #FFFFFF;
}


#bio
{   
    grid-area: bio;
    width: 700px;

    background-color: #393939;

    margin-left: 20px;

    border-top: 4px solid #BB0908;

    font-family: Poppins;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 36px;
}

#bio img
{
    width: 641px;
    margin-top: 20px;
}
#bio p
{
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 15px;
}

#footer
{
    color: #FFFFFF;
    margin-top: 24px;
    grid-area: footer;
    background-color: #070707;

}

