@charset "UTF - 8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@500&display=swap');

html
{
    height: 100%;
}

body
{
    height: 100%;
    background-color:#F9F4EF ;
    
}

h1,h2
{
    font-family: Roboto;
    color: #ffff;
    font-size: 30px;
    font-weight: 400;
    text-shadow: black;
    
}



#main
{
    display: grid;
    grid-template-areas: "header header header"
                         "bio bio bio"
                         "hobbies hobbies schooling"
                         "footer footer footer";
    grid-template-rows: 100px, auto, auto, 100px;
    grid-gap: 10px 25px ;
    height: 100%;
}

#nav
{
    grid-area: header;
    background-color: #ABD1C6;
    margin-bottom: 31px;

}

#bio
{
    grid-area: bio;
    background-color: #ABD1C6;
   
    padding-bottom: 22px;
    margin-bottom: 31px;
    
}

#heading1
{
    
    grid-area: bio;
    background-color: #004643;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 9px;
    margin-bottom: 15px;
}



#heading1 h2
{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    text-align:left

    
}

#biotxt
{
    
    background-color: #ffff;
    
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 22px;
    
}

#hobbies,#schooling
{
    margin-bottom: 50px;
}

#hobbies
{
    grid-area: hobbies;
    background-color: #ABD1C6;
   
    
}

#heading2
{
  
    margin-top: 17px;
    margin-left: 16px;
    margin-right: 18px;
    background: #004643;
}

#whitebx
{
    margin-left: 16px;
    margin-right: 18px;
    font-size: 31px;
    
    background: #FFFFFE;
   
    background-image: url(images/carPic\(8296962440\).jpg) ;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#hobbtxt
{   

    font-size: 31px;
    line-height: 40px;
    
}





#schooling
{
    grid-area: schooling;
    background-color: #ABD1C6;
}

#heading3
{
    
    margin-left: 23px;
    margin-right: 23px;
    background: #004643;
}

#schooltxt
{
   
    
    margin-left: 23px;
    margin-right: 23px;
    background: #FFFFFE;
    font-size: 22px;
}

#footer
{
    text-align: center;
    color: #ffff;
    background-color: #ABD1C6;
    grid-area: footer;
    font-size: 22px;
}