* {border:1px solid black;
    box-sizing: border-box;
}
html
{
    height: 100%;
}

body
{
    margin: 0;
    height: 100%;
    display: flex ;
    justify-content: center;
}

header{
    width: 80%;
    background-color: aqua;
    display: flex;
    
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
}

section
{
    height: 100%;
}

h1{
    background-color: pink;
    padding:0;
    margin:0;
}

nav{
    background-color: blueviolet;
    align-self: flex-end;
}

a:link, a:visited, a:active{
background-color: burlywood;
display: inline-block;
padding: 20px;
transition: all 1s;

}

a:hover
{
    background-color: red;
    transition: all 1s;
}