@charset "UTC-8";

html, body{
    margin:0;
    height:100vh;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
table{
    width:80%;
    border-collapse: collapse;
}
td{
    border-bottom:1px solid black;
}

@media (max-width: 1920px)
{
    
    
    h1{
        font-size: 1.5rem;
    }
    thead{
        font-size: 1rem;
        background-color: grey;
    }
    tbody{
        font-size: 1rem;
    }
    tr:last-child
    {
        display: none;
    }
}

@media (max-width:1000px)
{
    body{
        background-color: #55423d;
        font-family: Arial, Helvetica, sans-serif;
        color: #ffc0ad;
    }
    h1{
        font-size: 1.5rem;
        
        color: white;
        text-decoration: underline solid black 3px;
    }    
    thead{
        font-size: 1rem;
        background-color: #735952;
    }

    tbody{
        font-size: 1rem;
    }

    tr:first-child{
        display: none;
    }
    tr:last-child
    {
        display:contents;
    }

}

@media (max-width: 500px)
{
    body{
        background-color: #eff0f3;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        
    }
    h1{
        font-size: 2rem;
        color:#0d0d0d;
    }    
    thead{
        font-size: 1.5rem;
        background-color: #D2D5DD;
        color:#d9376e;
    }
    tbody{
        font-size: 1rem;
        color:#ff8e3c;
    }
    .stat{ /* here youre targeting the stats and this makes them disappear */   
        display: none;
    }
}