#main
{
    display: grid;

    grid-template-areas:"header header header header header"
                        "banner banner banner banner aside"
                        "ad      ad    bio    bio    aside"
                        "footer footer footer footer footer";

}


#header
{
    grid-area: header;
    background-color: #070707;
    color:#BB0908;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

#hero
{
    grid-area: banner;
    
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
    margin-right: 20px;
}

#rSide
{
    grid-area: aside;
    width: 360px;
    background-color: grey ;
    height: 918px;
    
}

#ad
{
    grid-area: ad;
    background-color: grey;
    width: 700px;
    margin-left: 20px;
    margin-right: 20px;
}

#bio
{
    background-image: url(images/pennant.png);
    background-repeat: no-repeat;
    margin-right: 20px;
    grid-area: bio;
    background-color: gray;
    width: 700px;
}

#footer
{
    grid-area: footer;
    margin-top: 24px;
    background-color: #070707;
}

